apiVersion: apps/v1
kind: Deployment
metadata:
  name: noa-server
spec:
  template:
    spec:
      containers:
        - name: noa-server
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2000m
              memory: 4Gi
