apiVersion: v1
kind: ConfigMap
metadata: { name: spire-agent-conf }
data:
  agent.conf: |
    agent {
      data_dir = "/run/spire"
      trust_domain = "{{ .Values.trustDomain }}"
      server_address = "spire-server"
      server_port = "8081"
      socket_path = "/run/spire/sockets/agent.sock"
    }
    plugins {
      NodeAttestor "k8s_psat" { plugin_data { cluster = "k8s" } }
      KeyManager "memory" {}
      WorkloadAttestor "k8s" {}
    }
