name: Octelium - client-components
permissions:
  contents: read
  packages: write
on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - b-*
      - main
      - dev
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        component: [octelium, octeliumctl, octops]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@cc11e9682d6c9f95b4a4ee7a73c64af4ed5c4628

      - name: Set ENV variables
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        run: for v in `cat .github/workflows/env` ; do echo "::set-env name=${v%%=*}::${v##*=}" ; done
      - name: Set is latest
        run: |
          IS_LATEST=$(git tag | grep -E "^v[0-9]+\.[0-9]+\.[0-9]+$" | sort -r --version-sort | head -n1)
          echo $IS_LATEST
          if [ "$IS_LATEST" = ${{ env.GITHUB_REF_SLUG }} ]; then
            echo "V_IS_LATEST=true" >> $GITHUB_ENV
          else
            echo "V_IS_LATEST=false" >> $GITHUB_ENV
          fi

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@032a4b3bda1b716928481836ac5bfe36e1feaad6
        with:
          images: ${{env.V_CONTAINER_REGISTRY}}/${{env.V_ORG}}/${{matrix.component}}
          flavor: |
            latest=${{env.V_IS_LATEST}}
            prefix=
            suffix=
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@885d1462741c5bd3a9e5b8d95c7e9c0f0f1c5d9

      - name: Login to Github Registry
        uses: docker/login-action@0d4c9c5ea6d534d45898ff36dea041f5dca6892
        with:
          registry: ${{env.V_CONTAINER_REGISTRY}}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Registry
        uses: docker/build-push-action@15560696de535e4014efeff63c48f16952e52dd1
        env:
          IMAGE_TAG: ${{ env.GITHUB_REF_SLUG }}
        with:
          context: .
          file: client/${{matrix.component}}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
